{% extends "organization/read_base.html" %}

{% block subtitle %}{{ _('Entries') }} - {{ super() }}{% endblock %}

{% block page_primary_action %}
  {% if h.check_access('package_create', {'owner_org': c.group_dict.id}) %}
    <a class='btn btn-primary' href="{{ h.url_for('inventory_entry_bulk_new', organization_name=c.group_dict.name) }}">{{ _('Add Inventory Items') }}</a>
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  <h1>{% block page_heading %}{{ _('Inventory') }}{% endblock %}</h1>

  {% if c.inventory_entries|length > 0 %}
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th>{{ _('Title') }}</th>
        <th>{{ _('Recurring Interval') }}</th>
        <th>{{ _('Last added dataset') }}</th>
        <th>{{ _('Next deadline') }}</th>
        {% if h.check_access('package_create', {'owner_org': c.group_dict.id}) %}
        <th>{{ _('Edit') }}</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for entry in c.inventory_entries %}
      <tr>
        <td><a href="{{ h.url_for('inventory_entry_read', organization_name=c.group_dict.name, inventory_entry_id=entry.id) }}">{{ entry.title }}</a></td>
        <td>{{ entry.recurring_interval }} {{ ungettext("day", "days", entry.recurring_interval) }}</td>
        <td>{{ h.time_ago_from_timestamp(entry.last_added_dataset_timestamp) }}</td>
        <td>{{ h.render_datetime(entry.next_deadline_timestamp) if entry.next_deadline_timestamp else _('Unknown') }}</td>
        {% if h.check_access('package_create', {'owner_org': c.group_dict.id}) %}
        <td><a href="{{ h.url_for('inventory_entry_edit', organization_name=c.group_dict.name, inventory_entry_id=entry.id) }}">{{ _('Edit') }}</a></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>{{ _('There are no entries in the inventory.') }}</p>
  {% endif %}

  <h2>{{ _('Archived Datasets') }}</h2>

  {% if c.inventory_archived_entries|length > 0 %}
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th>{{ _('Title') }}</th>
        <th>{{ _('Last added dataset') }}</th>
        <th>{{ _('Edit') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in c.inventory_archived_entries %}
      <tr>
        <td><a href="{{ h.url_for('inventory_entry_read', organization_name=c.group_dict.name, inventory_entry_id=entry.id) }}">{{ entry.title }}</a></td>
        <td>{{ h.time_ago_from_timestamp(entry.last_added_dataset_timestamp) }}</td>
        <td><a href="{{ h.url_for('inventory_entry_edit', organization_name=c.group_dict.name, inventory_entry_id=entry.id) }}">{{ _('Edit') }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>{{ _('There are no archived entries in the inventory.') }}</p>
  {% endif %}
{% endblock %}
